<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mylayout}"
	lang="fr">
<head>
<meta charset="utf-8">
<title>Saisir un film</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-md-4 col-xs-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Saisir nouveau film</div>	
				<div class="panel-body">
					<form th:action="@{/save}" method="post" th:object="${movie}">		
						
							<div class="form-group">
								<label class="control-label"> Date : </label> 
								<input class="form-control" type="text" name="brand" th:value="${session.date}"> 
								<span th:errors="${session.date}" class="text-danger" ></span>	
							</div>	
							<div class="form-group">
								<label class="control-label"> Movie title : </label> 
								<input class="form-control" type="text" name="brand" th:value="${movie.title}"> 
								<span th:errors="${movie.title}" class="text-danger" ></span>	
							</div>					
							<div class="form-group">
								<label class="control-label"> Description : </label> 
								<input class="form-control" type="text" name="description" th:value="${movie.description}"> 
								<span th:errors="${movie.description}" class="text-danger" ></span>	
							</div>
							<div class="form-group">
								<label class="control-label"> Price : </label> 
								<input class="form-control" type="text" name="price" th:value="${movie.price}">
								<span th:errors="${movie.price}" class="text-danger" ></span>
							</div>
							<div class="form-group">
								<select name="category">		
									    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>									
								</select>									
							</div>
							
							<button type="submit" class="btn btn-primary">Save</button>				
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>